/* css variables */

:root {
    /* color palette */
    /* use of variables: var(--color_tooltip_1); */
    /* background color */
    --b_color_body: #1f351b;
    --b_color_title: #8BC24A;
    --b_color_input_output: #FAFAFA;
    --b_color_toolbar: #F1F7E9;
    --b_color_cell: #F1F7E9;
    --b_color_cell_commands: #DDEDC8;
    --b_color_cell_disabled: whitesmoke;
    /* front color */
    --f_color_body: #4D4D4D;
    --f_color_title: #FEFFFB;
    --f_color_cell_disabled: whitesmoke;
    /* border color*/
    --brd_color_layout: #82AE4D;
}

* {
    box-sizing: border-box;
}


/* disable double-tap for zooming */

* {
    touch-action: manipulation;
}

html {
    font-family: sans-serif;
    font-size: 15px;
    background-color: var(--b_color_body);
    color: var(--f_color_body);
    /*margin auto means centered horizontally*/
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    margin: 0 auto;
    padding: 0;
}

a {
    cursor: pointer;
}

.app_width {
    /* the proportion of the app windows is around 16:9 */
    width: min(calc(100vh*9/16), 100vh);
}


/* region: fixed header */

.fixed_header,
.fixed_footer {
    position: fixed;
    width: 100%;
}

.fixed_header {
    top: 0;
}

.fixed_footer {
    bottom: 0;
}


/* endregion: fixed header */


/* using simple `css-grid` for the layout (display: grid) 
the grid-template-columns and grid-template-rows are defined in the html*/


/* region: page_main */

#div_main_header {
    line-height: 7vh;
    background-color: var(--b_color_title);
    color: var(--f_color_title);
    font-size: 20px;
}

#div_main_title {
    padding-left: 3vw;
}

#div_reload_button {
    cursor: pointer;
    float: right;
    padding-right: 5vw;
}

#div_hamburger_button {
    cursor: pointer;
    float: right;
    padding-right: 5vw;
}

#div_input {
    font-size: 30px;
    line-height: 15vh;
    background-color: var(--b_color_input_output);
    color: var(--f_color_body);
}

#div_input_number {
    padding-left: 3vw;
}

#div_input_unit {
    cursor: pointer;
    float: right;
    padding-right: 5vw;
}

#div_toolbar {
    cursor: pointer;
    font-size: 20px;
    background-color: var(--b_color_toolbar);
    color: var(--f_color_body);
    line-height: 12vh;
    padding-left: 3vw;
}

#div_output {
    font-size: 30px;
    line-height: 15vh;
    background-color: var(--b_color_input_output);
    color: var(--f_color_body);
}

#div_output_number {
    padding-left: 3vw;
}

#div_output_unit {
    cursor: pointer;
    float: right;
    padding-right: 5vw;
}

#div_numeric_pad_layout {
    border-top: 0px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 0px;
}

.div_cell {
    cursor: pointer;
    text-align: center;
    line-height: 12vh;
    background-color: var(--b_color_cell);
    color: var(--f_color_body);
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: var(--brd_color_layout);
    font-size: 36px;
}

.cell_commands {
    background-color: var(--b_color_cell_commands);
    color: var(--f_color_body);
}

.cell_disabled {
    cursor: auto;
    pointer-events: none;
    /* this is not the true property to make element disabled*/
    background-color: var(--b_color_cell_disabled);
    color: var(--f_color_cell_disabled);
}


/* region: modal window */

.w3_modal {
    z-index: 3;
    display: block;
    padding-top: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    /*opacity 70%*/
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--f_color_body);
}

.w3_modal_content {
    margin: auto;
    background-color: #fff;
    color: var(--f_color_body);
    position: relative;
    padding: 5vw;
    outline: 0;
}


/* endregion: modal window */

.span_button {
    cursor: pointer;
    border: 1pt;
    border-style: solid;
    background-color: var(--b_color_toolbar);
    color: var(--f_color_body);
    padding: 2px;
}


/* endregion: page_main */


/* region: page_unit */

#div_units_header {
    line-height: 7vh;
    background-color: var(--b_color_title);
    color: var(--f_color_title);
}

#div_back {
    font-size: 20px;
    text-align: left;
    padding-left: 3vw;
}

#div_units_title {
    font-size: 20px;
    text-align: center;
}

#div_units_base_currency {
    font-size: 20px;
    text-align: right;
    padding-right: 3vw;
}

#div_list_layout {
    font-size: 30px;
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}


/*the list has many rows, instead of id, here I use class*/

.class_iso_code {
    display: flex;
    align-items: center;
    justify-content: left;
    background-color: var(--b_color_input_output);
    color: var(--f_color_body);
    cursor: pointer;
    padding-left: 1vw;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}

.class_currency_name {
    text-align: center;
    /* padding for central vertical alignment*/
    padding: 3vh 0;
    background-color: var(--b_color_input_output);
    color: var(--f_color_body);
    font-size: 12px;
    padding-left: 2vw;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}

.class_rate {
    text-align: right;
    /* padding for central vertical alignment*/
    padding: 3vh 0;
    background-color: var(--b_color_input_output);
    color: var(--f_color_body);
    font-size: 18px;
    padding-right: 5vw;
    border-top: 0px;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
}


/* endregion: page_unit */